<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="danger.mapper.riCtrl.custom.RiControlPlanCustomMapper">

	<!--查询管控计划的条件 -->
	<sql id="query_controlPlan_where">
		<if test="monthOrWeek!=null">
			and monthOrWeek=#{monthOrWeek}
		</if>
		<if test="specialty!=null">
		and specialty=#{specialty}
		</if>
		
	</sql>
	
	<!-- 查询管控计划的范围 -->
	<sql id="query_controlPlan_limit">
		<if test="index!=null">
			LIMIT #{index},#{currentCount}
		</if>
	</sql>
	
	
	
	<!-- 按条件查出所有的管控计划 -->
	<select id="getControlPlanByCondition" resultType="danger.bean.riCtrl.RiControlPlan" parameterType="hashmap">
		select * from ricontrolplan

		<where>
			<include refid="query_controlPlan_where"></include>
			
		</where>
		ORDER BY year DESC,monthOrWeek DESC
		<include refid="query_controlPlan_limit"></include>

	</select>
	
	<!-- 按条件查出所有的管控计划的数量 -->
	<select id="getControlPlanCountById" resultType="int" parameterType="hashmap">
		select count(*) from ricontrolplan

		<where>
			<include refid="query_controlPlan_where"></include>
		</where>
		
		

	</select>
	
	<!-- 得到该管控计划的风险数量 -->
	<select id="getRiskCount" resultType="int" parameterType="string">
		SELECT count(*) from ricontrolplan,ridetailedofriskctrlplan where ricontrolplan.riCtrlPlanId=#{rictrlplanid} and ricontrolplan.riCtrlPlanId=ridetailedofriskctrlplan.riCtrlPlanId

	</select>
	
	<!-- 得到该管控计划的审核信息 -->
	<select id="getShenHe" resultType="danger.bean.riCtrl.RiRiskPlanAudit" parameterType="string">
		select * from ririskplanaudit where riCtrlPlanId=#{rictrlplanid} ORDER BY auditTime

	</select>
	
	<!-- 得到灾害类型的风险数量 -->
	<select id="getRiskCountByDisasterTypes" resultType="map">
		SELECT disasterTypes,count(disasterTypes) as count from riidentificationrriskmsg GROUP BY disasterTypes;
	</select>
	
	<!-- 得到失效的风险的地点 -->
	<select id="getAddressList" resultType="map">
		SELECT riskAddress,count(riskAddress) AS count from ridetailedofriskctrlplan,riidentificationrriskmsg WHERE ridetailedofriskctrlplan.measureIsValid="无效" AND ridetailedofriskctrlplan.riskMsgId=riidentificationrriskmsg.riskMsgId GROUP BY riskAddress;
	</select>
	
	<!-- 得到该管控计划下的所有风险信息的风险地点 -->
	<select id="getRiskAddress" resultType="string" parameterType="string">
		SELECT riskAddress	from riidentificationrriskmsg,ridetailedofriskctrlplan where riidentificationrriskmsg.riskMsgId=ridetailedofriskctrlplan.riskMsgId and ridetailedofriskctrlplan.riCtrlPlanId=#{rictrlplanid} GROUP BY riskAddress;
	</select>
	<!--查询风险信息的条件 -->
	<sql id="query_riskInfo_where">
		<if test="riskType!=null">
			and riskType like '%${riskType}%'
		</if>
		<if test="riskDescribe!=null">
		and riskDescribe like '%${riskDescribe}%'
		</if>
		
	</sql>
	<!-- 按条件查出所有的风险信息 -->
	<select id="getAllRiskInfo" resultType="danger.bean.riIdentify.RiIdentificationRriskMsg" parameterType="hashmap">
		select * from riidentificationrriskmsg

		<where>
			<include refid="query_riskInfo_where"></include>
			
		</where>
		<include refid="query_controlPlan_limit"></include>

	</select>
	
	<!-- 按条件查出所有的管控计划的数量 -->
	<select id="getAllRiskInfoCount" resultType="int" parameterType="hashmap">
		select count(*) from riidentificationrriskmsg

		<where>
			<include refid="query_riskInfo_where"></include>
		</where>
		
	</select>

	<!-- 通过风险id得到添加分析信息 -->
	<insert id="importRiskInfo" parameterType="danger.bean.riCtrl.RiDetailedOfRiskCtrlPlan">
		
		insert into ridetailedofriskctrlplan (detailedOfRiskCtrlPlanId, riCtrlPlanId, riskMsgId) values(#{detailedofriskctrlplanid,jdbcType=VARCHAR}, #{rictrlplanid,jdbcType=VARCHAR}, 
      #{riskmsgid,jdbcType=VARCHAR})
	</insert>
	
	
	<delete id="deleteRiskInfo" parameterType="danger.bean.riCtrl.RiDetailedOfRiskCtrlPlan">
		 delete from ridetailedofriskctrlplan where riCtrlPlanId = #{rictrlplanid,jdbcType=VARCHAR} and riskMsgId =#{riskmsgid,jdbcType=VARCHAR}
	</delete>
	
	
	<!-- 得到上月的管控计划的id-->
	<select id="getPrecedingMonthId" resultType="string" parameterType="string">
		SELECT r2.riCtrlPlanId from ricontrolplan r1,ricontrolplan r2 where r1.riCtrlPlanId=#{myrictrlplanid} and r1.`year`=r2.`year` and r1.monthOrWeek=r2.monthOrWeek+1;
		
	</select>
	
	<!-- 得到上月的风险信息的id-->
	<select id="getPrecedingMonthRiskInfoIdList" resultType="string" parameterType="string">
		SELECT riskMsgId from ridetailedofriskctrlplan where riCtrlPlanId=#{precedingMonthId}
		
	</select>
	
	<!-- 计划上报-->
	<update id="reportPlan" parameterType="string">
	 update ricontrolplan set reportStatus="1" where riCtrlPlanId=#{controlPlansid}
	
	</update>
	
	<!-- 通过管控计划id得到管控计划详情-->
	<select id="getMyRiskmsgid" resultType="danger.bean.riCtrl.RiDetailedOfRiskCtrlPlan" parameterType="string">
		SELECT * from ridetailedofriskctrlplan where riCtrlPlanId=#{rictrlplanid}
		
	</select>
	
	
</mapper>