<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="danger.mapper.dangerManage.RechecktableMapper" >
  <resultMap id="BaseResultMap" type="danger.bean.dangerManage.Rechecktable" >
    <id column="recheckid" property="recheckid" jdbcType="INTEGER" />
    <result column="followId" property="followid" jdbcType="INTEGER" />
    <result column="dangerId" property="dangerid" jdbcType="INTEGER" />
    <result column="recheckMan" property="recheckman" jdbcType="VARCHAR" />
    <result column="recheckdate" property="recheckdate" jdbcType="TIMESTAMP" />
    <result column="recheckresult" property="recheckresult" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    recheckid, followId, dangerId, recheckMan, recheckdate, recheckresult, comment
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="danger.bean.dangerManage.RechecktableExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rechecktable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rechecktable
    where recheckid = #{recheckid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rechecktable
    where recheckid = #{recheckid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="danger.bean.dangerManage.RechecktableExample" >
    delete from rechecktable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="danger.bean.dangerManage.Rechecktable" >
    insert into rechecktable (recheckid, followId, dangerId, 
      recheckMan, recheckdate, recheckresult, 
      comment)
    values (#{recheckid,jdbcType=INTEGER}, #{followid,jdbcType=INTEGER}, #{dangerid,jdbcType=INTEGER}, 
      #{recheckman,jdbcType=VARCHAR}, #{recheckdate,jdbcType=TIMESTAMP}, #{recheckresult,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="danger.bean.dangerManage.Rechecktable" >
    insert into rechecktable
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recheckid != null" >
        recheckid,
      </if>
      <if test="followid != null" >
        followId,
      </if>
      <if test="dangerid != null" >
        dangerId,
      </if>
      <if test="recheckman != null" >
        recheckMan,
      </if>
      <if test="recheckdate != null" >
        recheckdate,
      </if>
      <if test="recheckresult != null" >
        recheckresult,
      </if>
      <if test="comment != null" >
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recheckid != null" >
        #{recheckid,jdbcType=INTEGER},
      </if>
      <if test="followid != null" >
        #{followid,jdbcType=INTEGER},
      </if>
      <if test="dangerid != null" >
        #{dangerid,jdbcType=INTEGER},
      </if>
      <if test="recheckman != null" >
        #{recheckman,jdbcType=VARCHAR},
      </if>
      <if test="recheckdate != null" >
        #{recheckdate,jdbcType=TIMESTAMP},
      </if>
      <if test="recheckresult != null" >
        #{recheckresult,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="danger.bean.dangerManage.RechecktableExample" resultType="java.lang.Integer" >
    select count(*) from rechecktable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update rechecktable
    <set >
      <if test="record.recheckid != null" >
        recheckid = #{record.recheckid,jdbcType=INTEGER},
      </if>
      <if test="record.followid != null" >
        followId = #{record.followid,jdbcType=INTEGER},
      </if>
      <if test="record.dangerid != null" >
        dangerId = #{record.dangerid,jdbcType=INTEGER},
      </if>
      <if test="record.recheckman != null" >
        recheckMan = #{record.recheckman,jdbcType=VARCHAR},
      </if>
      <if test="record.recheckdate != null" >
        recheckdate = #{record.recheckdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.recheckresult != null" >
        recheckresult = #{record.recheckresult,jdbcType=VARCHAR},
      </if>
      <if test="record.comment != null" >
        comment = #{record.comment,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update rechecktable
    set recheckid = #{record.recheckid,jdbcType=INTEGER},
      followId = #{record.followid,jdbcType=INTEGER},
      dangerId = #{record.dangerid,jdbcType=INTEGER},
      recheckMan = #{record.recheckman,jdbcType=VARCHAR},
      recheckdate = #{record.recheckdate,jdbcType=TIMESTAMP},
      recheckresult = #{record.recheckresult,jdbcType=VARCHAR},
      comment = #{record.comment,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="danger.bean.dangerManage.Rechecktable" >
    update rechecktable
    <set >
      <if test="followid != null" >
        followId = #{followid,jdbcType=INTEGER},
      </if>
      <if test="dangerid != null" >
        dangerId = #{dangerid,jdbcType=INTEGER},
      </if>
      <if test="recheckman != null" >
        recheckMan = #{recheckman,jdbcType=VARCHAR},
      </if>
      <if test="recheckdate != null" >
        recheckdate = #{recheckdate,jdbcType=TIMESTAMP},
      </if>
      <if test="recheckresult != null" >
        recheckresult = #{recheckresult,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where recheckid = #{recheckid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="danger.bean.dangerManage.Rechecktable" >
    update rechecktable
    set followId = #{followid,jdbcType=INTEGER},
      dangerId = #{dangerid,jdbcType=INTEGER},
      recheckMan = #{recheckman,jdbcType=VARCHAR},
      recheckdate = #{recheckdate,jdbcType=TIMESTAMP},
      recheckresult = #{recheckresult,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR}
    where recheckid = #{recheckid,jdbcType=INTEGER}
  </update>
</mapper>