<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="danger.mapper.riIdentify.custom.RiIdentificationMainTableCustomMapper">

 	<!-- 查询分页 index:当前页页号 currentCount:每页显示的记录数 -->
	<sql id="query_page_limit">
		<if test="index!=null">
			LIMIT #{index},#{currentCount}
		</if>
	</sql> 	
	
	<!-- 查询风险辨识主表的条件 -->
	<sql id="query_RiIdentificationMainTable_where">
		<if test="identiryid!=null">
			and identiryid=#{identiryid}
		</if>
		<if test="year!=null">
			and year=#{year}
		</if>
		<if test="name!=null">
			and name=#{name}
		</if>
		<if test="meetingaddress!=null">
			and meetingaddress=#{meetingaddress}
		</if>
		<if test="compere!=null">
			and compere=#{compere}
		</if>
		<if test="recorder!=null">
			and recorder=#{recorder}
		</if>
		<if test="participants!=null">
			and participants=#{participants}
		</if>
		<if test="meetingcontent!=null">
			and meetingcontent=#{meetingcontent}
		</if>
		<if test="identifymark!=null">
			and identifymark=#{identifymark}
		</if>
		<if test="createtime!=null">
			and createtime=#{createtime}
		</if>
	</sql>
	
	<!-- 辨识信息主表的所有字段 -->
	<sql id="Base_Column_List_riIdentificationMainTable">
	    DISTINCT(riIdentificationMainTable.identiryId),riIdentificationMainTable.createTime,riIdentificationMainTable.identifyMark,
		riIdentificationMainTable.compere,riIdentificationMainTable.meetingAddress,
		riIdentificationMainTable.meetingContent,riIdentificationMainTable.name,riIdentificationMainTable.participants,
		riIdentificationMainTable.recorder,riIdentificationMainTable.year
    </sql>
	
	<!-- 组合条件查询风险辨识信息主表信息 按创建时间降序排序 分页查询 -->
	<select id="findRiIdentificationMainTableByCondition" resultType="danger.bean.riIdentify.RiIdentificationMainTable"
		parameterType="map">
		
		select * from riIdentificationMainTable
		<where>
			<include refid="query_RiIdentificationMainTable_where"></include>
		</where>
		order by createtime desc
		<include refid="query_page_limit"></include>
	</select>
	
	
	<!-- 根据组合条件查询风险辨识信息主表的总条数 -->
	<select id="getRiIdentificationMainTableCountByCondition" resultType="int" parameterType="map">
		select count(*) from riidentificationmaintable
		<where>
			<include refid="query_RiIdentificationMainTable_where"></include>
		</where>
	</select>
	
	
	<!-- 查询辨识风险信息的条件 -->
	<sql id="query_RiIdentificationRriskMsg_where">
		<if test="riskmsgid!=null">
			and riskmsgid=#{riskmsgid}
		</if>
		<if test="identiryid!=null">
			and identiryid=#{identiryid}
		</if>
		<if test="riskaddress!=null">
			and riskaddress=#{riskaddress}
		</if>
		<if test="riskdescribe!=null">
			and riskdescribe=#{riskdescribe}
		</if>
		<if test="risktype!=null">
			and risktype=#{risktype}
		</if>
		<if test="professionaltypes!=null">
			and professionaltypes=#{professionaltypes}
		</if>
		<if test="disastertypes!=null">
			and disastertypes=#{disastertypes}
		</if>
		<if test="cancauseaccidents!=null">
			and cancauseaccidents=#{cancauseaccidents}
		</if>
		<if test="ctrlmeasure!=null">
			and ctrlmeasure=#{ctrlmeasure}
		</if>
		<if test="principal!=null">
			and principal=#{principal}
		</if>
		<if test="superintendent!=null">
			and superintendent=#{superintendent}
		</if>
		<if test="monitoringperiod!=null">
			and monitoringperiod=#{monitoringperiod}
		</if>
		<if test="evaluationstatus!=null">
			and evaluationstatus=#{evaluationstatus}
		</if>
	</sql>
	
	<!-- 辨识风险信息的所有字段 -->
	<sql id="Base_Column_List_riIdentificationrriskmsg">
   		 riIdentificationrriskmsg.riskMsgId,riIdentificationrriskmsg.canCauseAccidents,riIdentificationrriskmsg.ctrlMeasure,
		 riIdentificationrriskmsg.disasterTypes,riIdentificationrriskmsg.evaluationStatus,riIdentificationrriskmsg.identiryId,
		 riIdentificationrriskmsg.monitoringPeriod,riIdentificationrriskmsg.principal,riIdentificationrriskmsg.professionalTypes,
         riIdentificationrriskmsg.riskAddress,riIdentificationrriskmsg.riskDescribe,riIdentificationrriskmsg.riskType,
         riIdentificationrriskmsg.superintendent 
    </sql>
  
  
	<!-- 根据组合条件查询风险辨识主表信息及其对应的辨识风险信息   主界面-->
	<select id="findIdentifyMainAndRiskMsgByCondition" parameterType="map" resultType="map">
		select <include refid="Base_Column_List_riIdentificationMainTable"></include>,
				(SELECT COUNT(*) FROM riidentificationrriskmsg WHERE riidentificationrriskmsg.identiryId=riIdentificationMainTable.identiryid) as "riskmsgcount"
		from riIdentificationMainTable,riIdentificationrriskmsg
		<where>
			<!-- 年度还是专项 -->
			<if test="identifymark!=null">
				and riIdentificationMainTable.identifymark=#{identifymark}
			</if>
			<!-- 如果没有输入 identiryid，则说明是只需要显示所有风险辨识主表信息及其对应的(辨识风险信息及数量)-->
			<!-- 输入identiryid，则说明是查询当前风险辨识主表信息及其对应的所有辨识风险信息 -->
			<!-- <if test="identiryid!=null">
				and riIdentificationMainTable.identiryid = #{identiryid}
			</if> -->
			
		</where>
			order by riIdentificationMainTable.createtime desc
			<include refid="query_page_limit"></include>	
	</select>
	
	<!-- 根据组合条件查询风险辨识主表信息及其对应的辨识风险信息 的总记录数  主界面-->
	<select id="getIdentifyMainAndRiskMsgCountByCondition" parameterType="map" resultType="int">
		select   count(*)	from riIdentificationMainTable
		<where>
			<!-- 年度还是专项 -->
			<if test="identifymark!=null">
				and riIdentificationMainTable.identifymark=#{identifymark}
			</if>
		</where>
	</select>
	
	
	<!-- 根据风险辨识主表id查询该条风险辨识主表信息及其对应的所有辨识风险信息 -->
	<select id="selIdentifyMainAndRiskMsgByIdentityId" parameterType="String" resultType="map">
		
	</select>
	
	
</mapper>